/* 基本スタイル */
/* 基本スタイル */
* {
  box-sizing: border-box;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background: #29031e;
  border: 4px solid #fa46c6;
  color: white;
  font-size: 28px;
}


/* レイアウト用スタイルはここから */

.container {
  display: grid;
  grid-template:
    repeat(2, 200px) /
    repeat(4, auto);
  gap: 20px;
}
