@charset "UTF-8";

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #333333;
  padding: 24px;
  background-color: rgba(59, 191, 61, 0.76);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: normal;
  text-align: center;
  font-size: 26px;
  margin-bottom: 20px;
}

main {
  background-color: #f7f7f7;
  width: 100%;
  max-width: 640px;
  min-height: 400px;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

label {
  padding: 5px;
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  transition: 0.3s ease;
  background-color: transparent;
}

input {
  display: block;
  margin: 20px 0 0 0;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #c1c1c1;
  font-size: 18px;
}
