* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #333333;
  padding: 24px;
}

a {
  font-family: sans-serif;
  color: #333333;
}
