/* 基本スタイル */
body {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* レイアウト用スタイルはここから */
h1 {
  font-size: calc(100vw / 10);
}

@media (min-width: 800px) {
  h1 {
    font-size: 80px;
  }
}
